.accordion_main_container_outer{
  transition: max-height .2s;
  max-height: 0;
  overflow: hidden;
  background: #FFF;
 /* overflow-y: auto;*/
	border: 1px solid #e5e5e5;
}

.accordion_main_container_inner{
  padding: 15px 10px;
	height:74%;
}

.accordion_api_container_outer{
  transition: max-height .2s;
  max-height: 0;
  overflow: hidden;
  background: #FFF;
}

.accordion_api_container_inner{
  padding: 0px 20px;
}

.accordion_api_detail_container_outer{
  transition: max-height .2s;
  max-height: 0;
  overflow: hidden;
  background: #FFF;
}

.accordion_api_detail_container_inner{
  padding: 0px 20px;
}


.accordion_icon{
	margin-top: 4px;
	color: #333;
	width: 10px;
  height: 20px;
  font: 10px 'Typicons';
  -moz-transition: .1s;
  -webkit-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
  transition: .1s;
}


